*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button{
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo:hover{
    cursor: pointer;
}

.logo img{
    margin-right: 5px;
    width: 50px;
}

.btns button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.btns :first-child{
    background-color: #fff;
    color: #74BCFF;
    border: 1px solid #74BCFF;
}

.btns :first-child:hover{
    background-color: #74BCFF;
    color: black;
    cursor: pointer;
}

.btns :last-child{
    margin-left: 10px;
    background-color: #74BCFF;
}

.btns :last-child:hover{
    background-color: #fff;
    border: 1px solid #74BCFF;
    cursor: pointer;
}

/* intro section */
.intro{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    max-width: 450px;
}

.text h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.text p{
    margin-bottom: 20px;
}

.text button, .cta button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #74bcff ,#68ffaf);
}

.text button:hover, .cta button:hover{
    background-image: none;
    background-color: #fff;
    border: 1px solid #74bcff;
    cursor: pointer;
}



.intro img{
    width: 450px;
}

/* about us */
.about-us{
    padding: 100px 50px;
    background-image: linear-gradient(#74BCFF, #86FFAf, #fff);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-us div{
    max-width: 400px;
}

.about-us h1{
    margin-bottom: 20px;
}

.about-us img{
    width: 400px;
}

/* features */
.features{
    padding: 100px 50px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 25%;
    border: 1px solid rgb(168, 168, 168);
}

.img1, .img2, .img3{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    background-image: url(images/img3.jpg);
}

.img2{
    background-image: url(images/img4.jpg);
}

.img3{
    background-image: url(images/img2.jpg);
}

.card :last-child{
    padding: 15px;
}
.card h3{
    text-align: center;
}

.card:hover{
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
}

/* testimonials */
.testimonials{
    padding: 50px;
    background-image: linear-gradient(#74BCFF, #86FFAf);
    display: flex;
    flex-direction: column;
}

.testimonials h1{
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-parent{
    display: flex;
    justify-content: space-evenly;
}

.testimonial{
    padding: 20px 30px;
    width: 25%;
    background-color: rgb(255, 255, 255, 40%);
    border-radius: 5px;
}

.person{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.person div{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle1{
    background-image: url(images/fairuz.jpg);
}
.circle2{
    background-image: url(images/ahmed.jpg);
}
.circle3{
    background-image: url(images/jack.jpg);
}


/* call to action */
.cta{
    padding: 100px;
    display: flex;
    justify-content: center;
    background-image: url(images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta h1{
    font-size: 2.5rem;
}

.cta div :first-child, .cta div :nth-child(2){
    margin-bottom: 30px;
}


/* footer */
footer{
    padding: 30px;
    background-color: #74BCFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Auth */

.authentication{
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-select{
    margin: 20px 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #E2FFEC;
    border-radius: 5px;
}

.auth-select div{
    width: 50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-select div:hover{
    cursor: pointer;
}

.selected{
    background-color: #fff;
}

.form{
    padding: 20px 40px;
    width: 27%;
    height: 80vh;
    background-image: linear-gradient(#74BCFF, #86FFAf);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form form{
    margin-bottom: 20px;
}

input{
    margin: 2px 0;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border: 2px solid #74BCFF; /* Set your desired focus border color */
  }


.name{
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 49%;
}

.form-btn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #E2FFEC;
}

.form-btn:hover{
    background-color: #fff;
    cursor: pointer;
}


/*** Dashboard ***/

.dashboard{
    height: 200vh;
    display: flex;
}

/* header2 */
.header2{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-part-1{
    display: flex;
    align-items: center;
}

.hamburger{
    margin-right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.header-part-1 div img{
    width: 40px;
    height: 40px;
}

.header-part-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #74BCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-part-2 :first-child{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.header-part-2 :nth-child(2){
    margin-left: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Sidebar */
.sidebar{
    padding: 40px 0;
    width: 20%;
    height: 99vh;
    background-image: linear-gradient(#74BCFF, #86FFAf);
    position: sticky;
    top: 50px;
    left: 0;
}

.sidebar-list{
    margin-bottom: 10px;
    padding: 10px 0;
    padding-left: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.teaching-list, .learning-list{
    margin: 5px 0;
    padding-left: 10px;
}

.sidebar-list:hover, .class-parent:hover{
    background-color: rgb(255, 255, 255, 35%);
    cursor: pointer;
}

.sidebar-list img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#arrow{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.classes{
    max-height: 200px;
    overflow-y: scroll;
}

.classes ul{
    list-style-type: none;
}

.class-parent{
    padding: 5px 25px;
    display: flex;
    align-items: center;
}

.profile-pic{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: #2fbdff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar hr{
    border: none;
    height: 1px;
    background-color: rgb(0, 0, 0, 20%);
}

/**************************/

h1, h2{
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
}

p{
    line-height: 1.5;
}

/* scrollbar */

/* Track */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#74BCFF, #86FFAf); /* Set the color of the scrollbar handle */
    border-radius: 6px; /* Set the border radius of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #74bcff; /* Set the color of the scrollbar handle on hover */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #f1f1f1; /* Set the color of the scrollbar track */
  }
  
  /* Handle when dragging */
  ::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(#68ffaf, #74bcff); /* Set the color of the scrollbar handle when dragging */
  }
  