*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hshs{
    /* class colors */
    color: #74BCFF;
    color: #86FFAF;
    color: #B63EFF;
    color: #FF6464;
    color: #FFD15A;
}

body, button{
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo:hover{
    cursor: pointer;
}

.logo img{
    margin-right: 5px;
    width: 50px;
}

.btns button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.btns :first-child{
    background-color: #fff;
    color: #74BCFF;
    border: 1px solid #74BCFF;
}

.btns :first-child:hover{
    background-color: #74BCFF;
    color: black;
    cursor: pointer;
}

.btns :last-child{
    margin-left: 10px;
    background-color: #74BCFF;
}

.btns :last-child:hover{
    background-color: #fff;
    border: 1px solid #74BCFF;
    cursor: pointer;
}

/* intro section */
.intro{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    max-width: 450px;
}

.text h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.text p{
    margin-bottom: 20px;
}

.text button, .cta button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #74bcff ,#68ffaf);
}

.text button:hover, .cta button:hover{
    background-image: none;
    background-color: #fff;
    border: 1px solid #74bcff;
    cursor: pointer;
}



.intro img{
    width: 450px;
}

/* about us */
.about-us{
    padding: 100px 50px;
    background-image: linear-gradient(#74BCFF, #86FFAf, #fff);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-us div{
    max-width: 400px;
}

.about-us h1{
    margin-bottom: 20px;
}

.about-us img{
    width: 400px;
}

/* features */
.features{
    padding: 100px 50px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 25%;
    border: 1px solid rgb(168, 168, 168);
}

.img1, .img2, .img3{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    background-image: url(images/img3.jpg);
}

.img2{
    background-image: url(images/img4.jpg);
}

.img3{
    background-image: url(images/img2.jpg);
}

.card :last-child{
    padding: 15px;
}
.card h3{
    text-align: center;
}

.card:hover{
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
}

/* testimonials */
.testimonials{
    padding: 50px;
    background-image: linear-gradient(#74BCFF, #86FFAf);
    display: flex;
    flex-direction: column;
}

.testimonials h1{
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-parent{
    display: flex;
    justify-content: space-evenly;
}

.testimonial{
    padding: 20px 30px;
    width: 25%;
    background-color: rgb(255, 255, 255, 40%);
    border-radius: 5px;
}

.person{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.person div{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle1{
    background-image: url(images/fairuz.jpg);
}
.circle2{
    background-image: url(images/ahmed.jpg);
}
.circle3{
    background-image: url(images/jack.jpg);
}


/* call to action */
.cta{
    padding: 100px;
    display: flex;
    justify-content: center;
    background-image: url(images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta h1{
    font-size: 2.5rem;
}

.cta div :first-child, .cta div :nth-child(2){
    margin-bottom: 30px;
}


/* footer */
footer{
    padding: 30px;
    background-color: #74BCFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Auth */

.authentication{
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-select{
    margin: 20px 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #E2FFEC;
    border-radius: 5px;
}

.auth-select div{
    width: 50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-select div:hover{
    cursor: pointer;
}

.selected{
    background-color: #fff;
}

.form{
    padding: 20px 40px;
    width: 27%;
    height: 80vh;
    background-image: linear-gradient(#74BCFF, #86FFAf);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form form{
    margin-bottom: 20px;
}

label{
    display: block;
}

input, select{
    margin: 2px 0;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea{
    outline: none;
}

input:focus, textarea:focus{
    border: 2px solid #74BCFF;
}

.name{
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 49%;
}

.form-btn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #E2FFEC;
}

.form-btn:hover{
    background-color: #fff;
    cursor: pointer;
}

.hwForm{
    margin: 0 !important;
    width: 100% !important;
}

.hwForm .label{
    font-weight: bold;
}

/*** Dashboard ***/

.dashboard{
    display: flex;
}

/* header2 */
.header2{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-part-1{
    display: flex;
    align-items: center;
}

.hamburger{
    margin-right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.header-part-1 div img{
    width: 40px;
    height: 40px;
}

.header-part-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-part-2 .plus{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.header-part-2 .bell{
    margin-left: 25px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.header-part-2 .profile{
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus-menu, .profile-menu, .notification-menu{
    background-color: #74BCFF;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 5px 0px rgb(126, 126, 126);
}

/* plus menu */
.plus-menu{
    width: 150px;
    height: 120px;
    right: 110px;
}

.plus-menu div{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.plus-menu div:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 35%);
}

.plus-menu hr, .profile-menu hr, .account-details hr{
    height: 1px;
    width: 90%;
    border: none;
    background-color: rgb(0, 0, 0, 20%);
}

/* Notification menu */
.notification-menu{
    width: 390px;
    right: 65px;
    background-color: rgb(255, 255, 255, 85%);
}

.notification-menu-header{
    padding: 0 10px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #74BCFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgb(126, 126, 126);

}

.notification-menu-header img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.notifications{
    padding-right: 5px;
    margin: 20px 0;
    width: 90%;
    max-height: 300px;
    overflow-y: auto;
}

.notification{
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0, 20%);
}

.notification:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 100%);
    border: none;
    border-radius: 5px;
}

.notification p{
    font-size: 15px;
}

.notification-date{
    font-size: small !important;
}

.notification-profile-pic{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #418dff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-details{
    margin: 0 auto;
    width: 70%;
}

/* profile menu */
.profile-menu{
    padding: 30px 20px;
    width: 320px;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #74BCFF;
}

.profile-menu-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-img{
    margin-bottom: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #C2DEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 0.5px solid #C2DEFF;
}

.profile-menu-1 h3, .profile-menu-1 p{
    margin-bottom: 10px;
}

.profile-menu hr{
    margin: 20px 0;
}

.profile-btn, .profile-div2 form button, .on-page-btns button, .upload, .download, .add-topic, .profile-div2 .save, .q-input button, .answer button{
    width: 130px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px rgb(126, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-btn:hover, .profile-div2 form button:hover, .on-page-btns button:hover, .upload:hover, .download:hover, .add-topic:hover, .q-input button:hover, .answer button:hover{
    cursor: pointer;
    background-color: #cee7ff;
}

.profile-btn img{
    margin-right: 3px;
    width: 15px;
    height: 15px;
}

/* Sidebar */
.sidebar{
    padding: 40px 0;
    width: 20%;
    min-width: 160px;
    height: 95vh;
    background-image: linear-gradient(#74BCFF, #86FFAf);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    position: sticky;
    top: 50px;
    left: 0;
    overflow: auto;
}

.sidebar-list{
    margin-bottom: 5px;
    padding: 10px 0;
    padding-left: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.teaching-list, .learning-list{
    margin: 5px 0;
    padding-left: 10px;
}

.sidebar-list:hover, .class-parent:hover{
    background-color: rgb(255, 255, 255, 35%);
    cursor: pointer;
}

.sidebar-list img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#arrow{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.classes{
    margin-bottom: 5px;
    max-height: 150px;
    overflow: auto;
}

.classes ul{
    list-style-type: none;
}

.class-parent{
    padding: 5px 25px;
    display: flex;
    align-items: center;
}

.profile-pic{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: #2fbdff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar hr{
    border: none;
    height: 1px;
    background-color: rgb(0, 0, 0, 20%);
}

/* board */

main{
    width: 100%;
}

.board{
    overflow: hidden;
}

.board hr, .title hr{
    height: 3px;
    border: none;
    background-image: linear-gradient(to right, #74BCFF, #86FFAf);
}

.welcome{
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.welcome img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.content{
    margin: 40px auto 70px;
    width: 85%;
    max-width: 965px;
}

.title{
    margin-bottom: 20px;
}

.title div{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.title h3{
    font-weight: 100;
}

.title img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Classes Container */
.classes-container, .notes-container{
    margin: 0 auto;
    margin-bottom: 40px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.class-box, .add-box{
    margin: 10px 15px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.add-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 30%);
}

.add-box img{
    width: 50px;
    height: 50px;
}

.class-box:hover, .add-box:hover{
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    cursor: pointer;
}

.class-img{
    margin-bottom: 35px;
    width: 100%;
    height: 45%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.class-img .profile{
    margin-left: 15px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: -25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-overlay{
    width: 100%;
    height: 100%;  
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    opacity: 0.8;
}

.more{
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.more:hover{
    background-color: #ececec60;
}

.class-box-info{
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
}

.class-box-info h4{
    margin-bottom: 10px;
}

.class-box-info p{
    line-height: normal;
    font-size: 14px;
}

.info-part2 div{
    display: flex;
    align-items: center;
}

.info-part2 img{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

.note-box{
    margin: 10px 15px;
    padding: 15px 10px;
    width: 230px;
    height: 230px;
    box-shadow: -5px 5px 10px 0px rgb(126, 126, 126);
    position: relative;
}

.note-box .show-more{
    padding: 5px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

.note-box .show-more:hover{
    background-color: rgb(255, 255, 255, 20%);
    cursor: pointer;
}

.note-box p{
    margin-left: 5px;
    font-size: 12px;
}

.note-box h5{
    margin-top: 15px;
    font-weight: 100;
}

.note-more{
    width: 120px;
    height: 100px;
    background-color: rgb(255, 255, 255, 90%);
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.note-more .note-more2{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-more2 div{
    width: 50%;
    display: flex;
    align-items: center;

}

.note-more img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.note-more h6{
    padding: 5px 0;
    text-align: center;
}

.note-more .note-more2:hover{
    background-color: rgb(0, 0, 0, 20%);
    cursor: pointer;
}

.note-more hr{
    height: 1px;
    width: 90%;
    border: none;
    background-color: rgba(0, 0, 0, 20%);
}

/* On page form */

.on-page-div{
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 40%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.on-page-div label{
    margin-bottom: 5px;
}

.no-mrgn{
    margin-top: 0 !important;
}

.on-page-title{
    margin-bottom: 20px;
}

.on-page-div h3{
    padding: 0 20px 10px;
}

.on-page-title hr{
    height: 2px;
    border: none;
    background-image: linear-gradient(to right, #74BCFF, #86FFAf);
}

.add-form{
    margin-top: 100px;
    padding: 20px 0px;
    width: 35%;
    background-color: #fff;
    border-radius: 20px;
    overflow: auto;
}

.colors-form{
    height: 95vh;
    width: 50%;
}

.add-form form, .student-hw-info{
    margin: 0 auto;
    width: 70%;
}

.student-hw-info{
    margin-bottom: 15px;
}

.maxh{
    max-height: 100px;
    overflow: auto;
}

.student-hw-info p{
    margin-bottom: 10px;
}

.student-hw-info .st-info{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.st-info .profile-pic{
    width: 50px;
    height: 50px;
}

.st-info p{
    margin: 0;
    font-size: 13px;
}

.add-form textarea, .profile-divs textarea{
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px 0px rgb(126, 126, 126);
}

textarea:focus, select:focus{
    border: 2px solid #74BCFF;
}

.add-form input, .add-form select, .profile-divs input{
    margin-bottom: 15px;
    height: 35px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px 0px rgb(126, 126, 126);
}

.type-number{
    width: 30%;
}

.on-page-btns{
    margin: 50px auto 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.on-page-btns button{
    width: 100px;
    background-color: #8AABFF;
}

.colors{
    width: 100%;
}

.colors-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.colors-container div{
    margin-right: 10px;
    margin-bottom: 5px;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 100%;
}

.colors-container div:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
}

/* customize page */

.customize-form{
    margin-top: 0;
    width: 60%;
}

.edit-task-form{
    margin-top: 0;
}

.customize-form form{
    width: 90%;
}

.bgs{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bgs .bg{
    margin: 5px 5px 5px;
    width: 30%;
    min-width: 150px;
    height: 60px;
    background-color: #bbbbbb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgs .bg:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
}

.upload, .download, .add-topic{
    margin-top: 20px;
    background-color: #8AABFF;
}

.upload img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

input[type='file']{
    display: none;
}

.no-img{
    width: 30px;
    height: 30px;
}

.selected-bg{
    width: 100% ;
    height: 100%;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 50%);
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-bg img, .circle-color img{
    width: 25px;
    height: 25px;
}

.selected-bg:hover{
    display: none;
}

.circle-color {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile */
.profile-divs{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-radius: 6px;
}

.profile-divs p{
    font-size: 14px;
    line-height: 16px;
}

.profile-div1, .profile-div2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.div1{
    margin: 0 auto;
    text-align: center;
}

.profile-div1{
    padding: 25px 20px;
    width: 35%;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to right, #74BCFF, #86FFAf);
}

.profile-div1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div1, .div2, .classroom{
    margin-bottom: 25px;
}

.profile-div-pic{
    margin-bottom: 5px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classroom{
    display: flex;
    align-items: center;
}

.classroom img{
    width: 20px;
    height: 20px;
}

.classroom *{
    margin-right: 5px;
}

.profile-div2{
    padding: 25px 30px;
    width: 65%;
}

.account-details{
    margin: 0 auto;
    width: 100%;
    height: 10%;
}

.account-details hr{
    width: 100%;
}

.profile-div2 form{
    margin: 20px auto;
    margin-bottom: 5px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-div2 input{
    height: 30px;
}

.full-name{
    display: flex;
    justify-content: space-between;
}

.full-name div{
    width: 48%;
}

.description{
    display: flex;
    flex-direction: column;
}

.description textarea{
    border: none;
    border-radius: 5px;
}

.profile-div2 form button{
    width: 150px;
    height: 30px;
    background-color: #8AABFF;
}

.profile-div2 .save{
    margin: 0 auto;
    margin-top: 40px;
    width: 150px;
    height: 30px !important;
    background-color: #74BCFF;
}

/* classroom */
.classroom-main{
    width: 100%;
    background-color: #e6e6e6;
}

.board2{
    width: 100%;
    background-color: #0066ff00;
}

.default-pic{
    font-family: 'Montserrat', sans-serif;;
    font-size: 2rem;
}

.class-info{
    background-color: rgba(255, 255, 255, 0);
    padding: 30px 80px;
    min-height: 250px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#foreign{
    width: 100%;
    height: 180%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}

.class-info div{
    max-width: 50%;
    position: relative;
}

.class-info p{
    margin-left: 5px;
    font-size: 14px;
}

.class-name-pic{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.class-code{
    margin-bottom: 5px;
}

.class-name-pic div{
    margin-right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-name-pic img{
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.class-name-pic img:hover, .welcome img:hover{
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    cursor: pointer;
}

.people-num{
    display: flex;
    position: absolute !important;
    right: 25px;
    bottom: 10px;
}

.people-num  div{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.people-num img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.nav{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #74BCFF, #86FFAf);
    overflow-y: auto;
    scrollbar-width: none;
}

.nav::-webkit-scrollbar {
    width: 0;
}

.nav div{
    padding: 10px 15px;
    font-size: 95%;
}

.current-page{
    background-color: rgb(255, 255, 255, 35%);
}

.nav div:hover{
    background-color: rgb(255, 255, 255, 35%);
    cursor: pointer;
}

/* classroom home */
.classroom-home{
    display: flex;
    justify-content: space-between;
}

.announcements-div{
    margin-right: 20px;
    width: 65%;
    height: 300px;
    background-color: rgb(255, 255, 255, 50%);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.div-title{
    padding: 15px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-content img{
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.div-content p{
    max-width: 250px;
    text-align: center;
    font-size: 14px;
}

.div-title img{
    width: 23px;
    height: 23px;
}

.div-title img:hover{
    cursor: pointer;
}

.code-todo-div{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.code-todo-div .code, .code-todo-div .todo-div{
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: rgb(255, 255, 255, 50%);
    border-radius: 20px;
}

.code{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.code-string{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.code-string h2:hover, .code-string img:hover{
    cursor: pointer;
}

.code-string h2{
    margin-right: 20px;
    color: #0066FF;
}

.code-string img{
    width: 20px;
    height: 20px;
}

.todo-div{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

#no-task{
    width: 60px;
    height: 60px;
}

/* Announcements */
.announcements{
    margin-bottom: 30px;
}

.announcement-box, .syllabus-box {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 30px;
    width: 95%;
    background-color: rgb(255, 255, 255, 50%);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.announcement-box:hover, .syllabus-box:hover{
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
}

.announcement-box .info{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.announcement-box .profile-pic{
    width: 50px;
    height: 50px;
    min-width: 35px;
    min-height: 35px;
}

.announcement-box .info p{
    font-size: small;
}

.update-delete{
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
}

.update-delete img{
    margin-left: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.left-border{
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(#74bcff ,#68ffaf);
}

.announcement-text{
    margin-bottom: 20px;
}

.date{
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: small;
}

/* Chat */
.chat{
    margin-bottom: 50px;
}

.output-msg{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    height: 75vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.bottom-border{
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #74bcff ,#68ffaf);
    position: absolute;
    bottom: 0;
    left: 0;
}

.input-msg{
    margin: 0 auto;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.input-msg .input, .input-msg .send, .output-msg{
    background-color: rgb(255, 255, 255, 50%);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
}

.input-msg .input{
    margin-right: 10px;
    padding: 0 15px;
    height: 100%;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-msg .input input{
    margin: 0 10px;
    background-color: #ffffff00;
    font-size: 20px;
}

.input-msg .send{
    width: 50px;
    min-width: 35px;
    height: 50px;
    min-height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-msg img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.send:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
}

.send img{
    width: 20px;
    height: 20px;
}

.chat-info{
    padding: 5px 25px;
    width: 100%;
}

.chat hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #2fbdff;
}

.chat-info2{
    display: flex;
    align-items: center;
}

.chat-img{
    margin-right: 10px;
    width: 45px;
    min-width: 35px;
    height: 45px;
    min-height: 35px;
    border-radius: 50%;
    background-color: #2fbdff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-content{
    padding: 0 25px 25px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.my-msg, .others-msg{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.my-msg{
    align-self: flex-end;
}

.others-msg{
    align-self: flex-start;
}

.msg-text{
    margin: 0 5px;
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;
    position: relative;
}

.my-msg .msg-text{
    background-color: #74BCFF;
}

.others-msg .msg-text{
    background-color: rgb(134, 255, 175, 50%);
}

.msg-text h5{
    margin-bottom: 15px;
    font-weight:normal
}

.msg-text p{
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 12px;
}

.msg-pic{
    min-width: 35px;
    min-height: 35px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2fbdff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Assignments */
.going-assignments, .coming-assignments{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 95%;

}

.assignment, .documents{
    margin-bottom: 10px;
    padding: 25px 30px;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255, 50%);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignment:hover, .documents:hover, .one-ppl:hover{
    box-shadow: 1px 1px 10px rgb(126, 126, 126);
    cursor: pointer;
}

.documents:hover{
    cursor:auto;
}

.assignment .info, .documents .info{
    display: flex;
    align-items: center;
}

.assignment img, .documents img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.download-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-img:hover{
    background-color: #b3b2b279;
}


.assignment .info img, .documents .info img{
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.assignment .info .pic, .documents .info .pic{
    margin-right: 10px;
    width: 45px;
    min-width: 35px;
    height: 45px;
    min-width: 35px;
    border-radius: 50%;
    background-color: #68ffaf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment .info p, .assignment .info h6, .documents .info p, .documents .info h6{
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
}


/* Q&A */
.qna{
    margin: 0 auto 40px;
    width: 80%;
}

.qna-post, .q-input, .comment{
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 50%);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
}

.q-input{
    margin-bottom: 10px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.q-input input, .answer input{
    margin: 0 10px;
    height: 35px;
    box-shadow: 1px 1px 2px rgb(126, 126, 126);
}

.answer input{
    margin-left: 0px;
}

.q-input button, .answer button{
    height: 35px;
    background-color: #8AABFF;
}

.q-img{
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2fbdff;
    border-radius: 50%;
}

.qna-post{
    margin-bottom: 20px;
    padding: 20px 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}

.qna-post .hr, .people-parent-div .hr{
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    background-image: linear-gradient(to right, #74BCFF, #86FFAf);
}

.question-div{
    margin-bottom: 10px;
}

.question-div .info{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.question-div .question{
    margin-left: 5px;
    margin-bottom: 10px;
}

.question-div .info p{
    font-size: small;
}

.a-img{
    margin-right: 10px;
    width: 45px;
    height: 45px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066FF;
    border-radius: 50%;
}

.question-div hr{
    height: 1px;
    border: none;
    background-color: #74BCFF;
}

.answer{
    display: flex;
    align-items: center;
}

.comments{
    margin-top: 10px;
    
}

.comment{
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

.comment .info{
    display: flex;
    align-items: center;
}

.comment .info p{
    font-size: 11px;
}

.comment:last-child{
    font-size: smaller;
}

/* Syllabus */
.syllabus-box{
    display: flex;
}

.syllabus-box h3{
    margin-right: 50px;
}

.syllabus-box li{
    margin-bottom: 5px;
}

/* Documents */
.documents{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 95%;
}

/* People */
.people-parent-div{
    margin: 0 auto 50px;
    width: 55%;
    position: relative;
}

.ppl-search{
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 15px;
    width: 75%;
    height: 35px;
    background-color: rgb(255, 255, 255, 70%);
    border-radius: 5px;
    border: 1px solid #2fbdff;
    display: flex;
    align-items: center;
}

.ppl-search input{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 255, 0%);
}

.ppl-search input:focus{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #2fbdff;
}

.ppl-search img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.ppl-search div{
    display: flex;
    align-items: center;
}

.people{
    padding: 0px 5px;
    max-height: 350px;
    min-height: 100px;
    overflow-y: auto;
}

.one-ppl{
    margin-bottom: 10px;
    padding: 20px 20px;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgb(255, 255, 255, 50%);
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-ppl .info{
    display: flex;
    align-items: center;
}

.one-ppl .info .profile-pic{
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
}

.announcement-home{
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.announc-div{
    display: flex;
    flex-direction: column;
}

.center-btn{
    margin: 20px auto 0px !important;
    width: 170px;
}
/**************************/

h1, h2{
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
}

p{
    line-height: 1.5;
}

.danger{
    background-color: #FF6767 !important;
}

.danger:hover{
    background-color: rgb(243, 177, 177) !important;
}

.empty-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.empty{
    margin: 20px auto 0;
    width: 120px;
}

.selected-class{
    border: 2px solid #2fbdff;
    background-color: #f1f1f1;
}

.search-class-members div{
    display: flex;
    align-items: center;
}

.search-class-members img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.search-class-members p{
    font-size: 12px;
}

.no-notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-notification img{
    width: 60px;
}

/* scrollbar */

/* Track */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#74BCFF, #86FFAf);
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #74bcff;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #f1f1f1;
  }
  
  /* Handle when dragging */
  ::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(#68ffaf, #74bcff);
  } 

  /***** responsiveness *****/

@media (max-width: 1040px){

    

}

@media (max-width: 800px){

    /*sidebar icons*/
    .hamburger{
        display: block;
    }

    .sidebar{
        display: none;
        font-size: 15px;
    }

    .sidebar-list img{
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }
    
    #arrow{
        margin-right: 10px;
        width: 10px;
        height: 10px;
    }

    /*menu*/

    .profile-menu{
        padding: 20px 10px;
        width: 250px;
        top: 50px;
        right: 0px;
    }

    .profile-img{
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }
    
    .profile-menu-1 h3, .profile-menu-1 p{
        margin-bottom: 5px;
    }
    
    .profile-menu hr{
        margin: 10px 0;
    }

    .profile-btn{
        width: 100px;
        height: 20px;
        font-size: 14px;
    }

    .profile-btn img{
        width: 13px;
        height: 13px;
    }

    /*class box*/
    .class-box, .add-box{
        margin: 10px 15px;
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    .class-img .profile{
        width: 50px;
        height: 50px;
    }

    .class-box-info{
        margin: 0 10px;
    }

    .class-box-info h4{
        font-size: 0.9em;
        margin-bottom: 5px;
    }
    
    .class-box-info p{
        font-size: 12px;
    }

    .info-part2 img{
        margin-right: 5px;
        height: 15px;
        width: 15px;
    }

    /*to do list*/
    .note-box{
        margin: 5px 10px;
        padding: 10px 5px;
        width: 200px;
        height: 200px;
    }

    /*on page div*/
    .add-form{
        margin-top: 20px;
        height: 90vh;
        padding: 10px 0px;
        width: 65%;
    }

    #add-form-join-class, #add-form-add-announcement, #add-form-add-syllabus, #add-form-add-doc, #add-from-add-users, #add-from-add-inst, #user-info{
        height: auto;
        max-width: 350px;
    }

    #add-form-join-class .on-page-btns, #add-form-add-announcement .on-page-btns, #add-form-add-syllabus .on-page-btns, #add-form-add-doc .on-page-btns, #add-from-add-users .on-page-btns, #add-from-add-inst .on-page-btns, #user-info .on-page-btns{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }

    #add-form-add-announcement, #add-form-add-syllabus, #add-form-add-doc{
        max-width: 450px;
    }

    .add-form input{
        margin-bottom: 10px;
        height: 25px;
    }

    .add-form textarea{
        margin-bottom: 10px;
    }

    .on-page-title{
        margin-bottom: 10px;
    }


    /*board2*/
    .class-info{
        padding: 15px 40px;
        min-height: 150px;
    }
    
    .class-info div{
        max-width: 80%;
    }
    
    .class-name-pic{
        margin-bottom: 5px;
    }

    .class-name-pic div{
        margin-right: 5px;
        width: 50px;
        height: 50px;
    }

    .class-name-pic h1{
        font-size: 1.5em;
    }

    .class-name-pic img{
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }

    .class-code h5, .board2-description h5{
        font-size: 12px;
    }

    .class-code p, .board2-description p{
        font-size: 12px;
    }

    .people-num{
        right: 20px;
    }
    
    .people-num  div{
        margin-left: 10px;
    }
    
    .people-num img{
        margin-right: 0px;
        width: 15px;
        height: 15px;
    }

    .nav{
        flex-wrap: nowrap;
    }

    /*people*/
    .people-parent-div{
        width: 65%;
    }

    .colors-form{
        width: 65%;
    }
    
}

@media (max-width: 600px){

    .header2{
        padding: 5px 10px;
    }

    .hamburger{
        margin-right: 15px;
        height: 20px;
        width: 20px;
    }

    .header-part-1 div img{
        width: 35px;
        height: 35px;
    }

    .logo img{
        margin-right: 2px;
    }

    .logo h2{
        font-size: 1.2em;
    }
  
    .header-part-2 .plus{
        height: 20px;
        width: 20px;
    }
    
    .header-part-2 .bell{
        margin-left: 15px;
        height: 20px;
        width: 20px;
    }
    
    .header-part-2 .profile{
        margin-left: 15px;
        width: 35px;
        height: 35px;
    }

    /* Notification menu */
    .notification-menu{
        width: 300px;
        right: 50px;
    }

    .notification-menu-header{
        height: 40px;
    }

    .notifications{
        margin: 10px 0;
        width: 95%;
        max-height: 270px;
    }

    .notification{
        margin-bottom: 5px;
    }

    .notification p{
        font-size: 13px;
    }

    .notification-date{
        font-size: 10px !important;
    }

    .notification-profile-pic{
        width: 40px;
        height: 40px;
    }

    .no-notification img{
        width: 50px;
    }

    .no-notification p{
        font-size: 12px;
    }

    /*welcome board*/
    .welcome{
        height: 30vh;
    }

    .welcome h1{
        font-size: 1.5em;
    }

    .welcome img{
        width: 20px;
        height: 20px;
    }

    /*title component*/
    .title{
        margin-bottom: 10px;
    }
    
    .title h3{
        font-weight: 90;
        font-size: 1em;
    }

    .title hr{
        height: 2px;
    }

    .title img{
        width: 20px;
        height: 20px;
    }

    /* note box*/
    .note-box .show-more{
        padding: 5px;
        width: 20px;
        height: 20px;
    }

    .note-box h4{
        font-size: 0.8em;
    }

    .note-box p{
        font-size: 10px;
    }

    .note-box h5{
        margin-top: 5px;
        font-size: 0.7em;
    }

    /*class nav*/
    .nav{
        padding: 0;
    }

    .nav div{
        padding: 10px 15px;
        font-size: 85%;
    }

    /*content*/
    .content{
        margin: 20px auto 40px;
        width: 95%;
        min-height: 70vh;
        max-width: 965px;
    }

    /*class home page*/

    .classroom-home{
        flex-direction: column;
        align-items: center;
    }

    .classroom-home h4{
        font-size: 0.9em;
    }

    .announcements-div{
        margin-bottom: 10px;
        margin-right: 0px;
        width: 100%;
        height: 250px;
    }

    .code-todo-div{
        width: 100%;
        flex-direction: row;
        flex-direction: row-reverse;
    }

    .code{
        width: 40%;
        height: 150px;
    }

    .code-string h2{
        font-size: 1.2em;
    }

    .code-string img{
        width: 15px;
        height: 15px;
    }

    .todo-div{
        margin-right: 10px;
        width: 60%;
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    /*announcements*/
    .announcement-box, .syllabus-box, .assignment{
        padding: 10px 20px;
        width: 100%;
    }

    .announcement-box .profile-pic{
        width: 40px;
        height: 40px;
    }

    .announcement-box .info h4{
        font-size: 0.9em;
    }

    .syllabus-box h3{
        font-size: 1em;
        margin-right: 30px;
    }

    .syllabus-box li{
        margin-bottom: 3px;
    }
    
    .announcement-text p, .syllabus-box li{
        font-size: 0.9em;
    }

    .date{
        font-size: 0.8em;
    }

    /*assignments*/
    .assignment img{
        width: 15px;
        height: 15px;
    }

    .assignment h4, .documents h4{
        font-size: 0.9em;
    }

    .assignment .info .pic, .documents .info .pic{
        width: 40px;
        height: 40px;
    }

    /*chat*/
    .chat-info{
        padding: 5px 15px;
        width: 100%;
    }

    .chat-img, .msg-pic{
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }

    .my-msg .msg-pic{
        margin-right: 0;
        margin-left: 5px;
    }

    .chat-content{
        padding: 0 5px 15px;
    }

    .my-msg, .others-msg{
        margin: 5px 0;
    }

    .input-msg{
        width: 90%;
        height: 40px;
    }

    .input-msg .input input{
        height: 90%;
        font-size: 15px;
    }

    .input-msg .send{
        width: 40px;
        height: 40px;
    }
    .input-msg img{
        width: 20px;
        height: 20px;
    }

    .send img{
        width: 15px;
        height: 15px;
    }

    /* Q&A */
    .qna{
        margin: 0 auto 40px;
        width: 100%;
    }

    .q-input, .qna-post{
        padding: 10px 25px;
    }

    .q-img{
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    .q-input input, .answer input, .q-input button, .answer button{
        height: 30px;
    }

    .answer input{
        margin-left: 0px;
    }

    .q-input input{
        margin-left: 10px;
    }

    /*people*/
    .people-parent-div{
        width: 75%;
    }

    .ppl-search{
        height: 30px;
    }

    .ppl-search img{
        width: 15px;
        height: 15px;
    }

    .one-ppl{
        padding: 20px 15px;
    }

    .one-ppl .info .profile-pic{
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
    }

    .one-ppl .info h4{
        font-size: 0.9em;
    }

    .one-ppl p{
        font-size: 0.8em;
    }

    /*customize form*/
    .customize-form{
        width: 80%;
    }

    .bgs .bg{
        width: 25%;
        min-width: 120px;
        height: 50px;
    }
    
    .add-form form p, .add-form form label{
        font-size: 0.9em;
    }

    /*colors input*/

    .colors{
        width: 100%;
    }
    
    .colors-container div{
        margin-right: 5px;
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
    }

    .colors-form{
        width: 90%;
    }

    .on-page-btns{
        margin-top: 20px;
    }

    /* Sidebar */
    .sidebar{
        top: 45px;

    }

    /*notifications*/
    .notification-details{
        width: 90%;
    }

    /*profile*/

    .profile-divs{
        width: 85%;
        flex-direction: column;
        border: 1px solid #68ffaf;
    }

    .profile-div1{
        padding: 15px 10px;
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        align-items: center;
    }

    .profile-div-pic{
        width: 100px;
        height: 100px;
    }

    .profile-div2{
        margin: 0 auto;
        padding: 15px 20px;
        width: 85%;
    }

    .profile-div2 form{
        margin: 15px auto;
        width: 95%;
    }

    .div1, .div2, .classroom{
        margin-bottom: 15px;
        font-size: 0.9em;
    }
}

@media (max-width: 380px){
    .logo h2{
        display: none;
    }

    .hamburger{
        margin-right: 10px;
        height: 15px;
        width: 15px;
    }
    
    .header-part-2 .bell{
        margin-left: 10px;
    }
    
    .header-part-2 .profile{
        margin-left: 10px;
    }

    /*menu*/
    .profile-menu{
        padding: 10px 0px;
        width: 190px;
    }

    /* Notification menu */
    .notification-menu{
        width: 200px;
        right: 0px;
    }

    .notification-menu-header{
        height: 35px;
    }

    .notification-menu-header img{
        width: 10px;
        height: 10px;
    }

    .notification-menu-header h4{
        font-size: 13px;
    }

    .notifications{
        margin: 5px 0;
        width: 99%;
    }
   
    .notification-profile-pic{
        min-width: 30px;
        min-height: 30px;
    }

    .no-notification img{
        width: 45px;
    }

    /*plus menu*/
    .plus-menu{
        width: 120px;
        height: 100px;
        right: 0px;
    }
    
    .plus-menu div{
        width: 100%;
        height: 100px;
    }

    /*welcome board*/
    .welcome{
        height: 25vh;
    }

    .welcome h1{
        margin: 0 15px;
    }

    /*class box*/
    .class-box, .add-box{
        margin: 5px 5px;
        width: 180px;
        height: 180px;
        min-width: 180px;
        min-height: 180px;
    }

    .content{
        width: 95%;
    }

    /*note box*/
    .notes-container{
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
    }

    .note-box{
        margin: 5px;
        padding: 5px 5px;
        width: 150px;
        height: 150px;
    }

    /*on page div*/
    .on-page-title h3{
        padding: 5px 10px;
        font-size: 1em;
    }

    .add-form{
        height: 80vh;
        width: 95%;
    }

    .add-form form{
        width: 85%;
    }

    /*on page btns*/
    .on-page-btns{
        margin: 10px auto 0;
        width: 95%;
    }
    
    .on-page-btns button{
        width: 80px;
    }

    /*board2*/
    .class-info{
        padding: 15px 10px;
        min-height: 150px;
    }
    
    .class-info div{
        max-width: 100%;
    }

    .class-name-pic div{
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
        font-size: 1em;
    }

    .class-name-pic h1{
        font-size: 1.2em;
    }

    .class-code h5, .board2-description h5{
        font-size: 12px;
    }

    .class-code p, .board2-description p{
        font-size: 12px;
        line-height: 15px;
    }
    
    .people-num{
        right: 10px;
        bottom: 5px;
    }
    
    .people-num  div{
        margin-left: 10px;
    }

    .nav{
        padding: 0px 0px;
    }

    .nav div{
        padding: 8px 10px;
        font-size: 80%;
    }

    /*class home page*/

    .classroom-home h4{
        font-size: 0.8em;
    }

    .code-todo-div{
        flex-direction: column-reverse;
    }

    .code{
        width: 100%;
        height: 150px;
    }

    .code-string h2{
        font-size: 1.2em;
    }

    .todo-div{
        margin-bottom: 10px !important;
        margin-right: 0px;
        width: 100%;
        height: 250px;
    }

    /*announcements*/
    .announcement-box, .syllabus-box {
        padding: 10px 15px;
    }

    .announcement-box .profile-pic{
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }

    .announcement-box .info h4{
        margin-right: 15px;
        font-size: 0.8em;
    }

    .announcement-text p, .syllabus-box li{
        font-size: 0.7em;
    }

    .date{
        font-size: 0.6em;
        bottom: 3px;
    }

    .update-delete{
        top: 10px;
        right: 15px;
    }
    
    .update-delete img{
        margin-left: 10px;
        width: 12px;
        height: 12px;
    }

    .announcement-box, .syllabus-box, .assignment{
        margin: 0 auto;
        margin-bottom: 10px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }

    /*assignments*/
    .assignment, .documents{
        padding: 10px 15px;
    }

    .assignment h4, .documents h4{
        font-size: 0.8em;
    }

    .assignment h6, .documents h6, .assignment p, .documents p{
        font-size: 0.7em;
    }

    .assignment .info .pic, .documents .info .pic{
        width: 35px;
        height: 35px;
    }

    .assignment .info img, .documents .info img{
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }

    .documents a img{
        width: 15px;
        height: 15px;
    }
    
    .syllabus-box h3{
        font-size: 0.9em;
    }

    .syllabus-box li{
        margin-bottom: 2px;
    }

    /*chat*/
    .chat-info{
        padding: 5px 15px;
        width: 100%;
    }

    .chat-img, .msg-pic{
        margin-right: 2px;
        width: 35px;
        height: 35px;
    }

    .my-msg .msg-pic{
        margin-left: 2px;
    }

    .chat-content{
        padding: 0 5px 15px;
    }

    .input-msg{
        width: 90%;
        height: 40px;
    }

    .input-msg .input{
        padding: 0 10px;
        height: 35px;
    }

    .input-msg .input input{
        margin: 0 5px;
        padding: 1px 3px;
    }

    .input-msg .send{
        width: 35px;
        height: 35px;
    }
    .input-msg img{
        width: 18px;
        height: 18px;
    }
    
    .my-msg, .others-msg{
        margin: 5px 0 !important;
    }

       /*chat*/
       .chat-info{
        padding: 5px 15px;
        width: 100%;
    }

    .chat-img, .msg-pic{
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }

    .my-msg .msg-pic{
        margin-right: 0;
        margin-left: 5px;
    }

    .chat-content{
        padding: 0 5px 15px;
    }

    .my-msg, .others-msg{
        margin: 5px 0;
    }

    .input-msg{
        width: 90%;
        height: 40px;
    }

    .input-msg .input input{
        height: 90%;
        font-size: 15px;
    }

    .input-msg .send{
        width: 40px;
        height: 40px;
    }
    .input-msg img{
        width: 20px;
        height: 20px;
    }

    .send img{
        width: 15px;
        height: 15px;
    }

    /* Q&A */
    .q-input, .qna-post{
        padding: 5px 10px;
    }

    .q-img{
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
    }

    .q-input input, .answer input, .q-input button, .answer button{
        height: 25px;
    }

    .q-input input{
        margin-left: 0;
    }

    .q-img, .a-img{
        margin-right: 5px;
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
    }

    .a-img{
        margin-right: 10px;
    }

    
    /*people*/
    .people-parent-div{
        width: 90%;
    }

    .one-ppl{
        padding: 10px 10px;
    }

    .one-ppl .info .profile-pic{
        margin-right: 5px;
    }

    .one-ppl .info h4{
        font-size: 0.8em;
    }

    .one-ppl p{
        font-size: 0.7em;
    }

    /*customize form*/
    .customize-form{
        width: 95%;
    }

    .customize-form form{
        width: 95%;
    }

    .customize-form form p{
        font-size: 0.9em;
    }

    .bgs .bg{
        width: 25%;
        min-width: 100px;
        height: 45px;
    }

    .upload{
        width: 100px;
        margin-top: 10px;
    }

    /*colors form*/
    .colors-container div{
        width: 45px;
        min-width: 45px;
        height: 45px;
        min-height: 45px;
    }

    /* Sidebar */
    .sidebar{
        width: 20%;
        height: 100vh;
        position: absolute;
        top: 45px;
        left: 0;
        z-index: 100;
    }

    /*notifications*/
    .notification-details{
        width: 95%;
    }

    /*profile*/
    .profile-div2{
        margin: 0 auto;
        padding: 10px 5px;
        width: 95%;
    }

    .full-name{
        width: 100%;
        flex-direction: column;
    }

    .full-name div{
        width: 100%;
    }


    /*scrollbar*/
    ::-webkit-scrollbar {
        width: 0px;
      }
}
